@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Syncopate');



.disappear{
  animation: shrinky 2s  ;
}

@keyframes shrinky {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

.winnerMessage{
  z-index: 100;
}

html{
  background-color: #4cf7eb;
  color:#233bef;
  font-family:'Syncopate', sans-serif;
}

h1{
  margin-top: 2vh;
  text-align: center;
  font-size: 4vh;
  text-transform:capitalize;
  font-family: 'Syncopate', sans-serif;
  opacity: 0.8;
}
#tableOne, #tableTwo {
  position: relative;
  border:0px;
  margin: 3vh auto 5vh auto;
  width: 60vh;
  border-collapse: collapse;
  height: 60vh;
  text-align: center;
  font-size: 15vh;
  font-family:"Raleway",sans-serif;
}

/* pratise toggle image */
#tableOne td {
  width: 34%;
  height: 34%;
  font-size: 100%;
  border:  10px solid white;
  transition: all 1s ease-in-out;
}

#tableTwo td {
  width: 25.5%;
  height: 25.5%;
  font-size: 75%;
  border:  10px solid white;
  transition: all 1s ease-in-out;
}

#tableOne td:hover,#tableTwo td:hover {
  transform:scale(0.8);
  shadow: #555555;
  background: black;
  opacity: 0.5;
}

button {
  background-color: #4cf7eb;
  color:#233bef;
  font-family:'Syncopate', sans-serif;
  border: 0px;
  font-size: 3vh;
  opacity: 0.8;
}
.swift,.swift2,.playerAI{
  transition: all 1.5s ease-in-out;
}
.swift2:hover,.swift:hover,.playerAI:hover{
  transform:scale(0.8);
  background: black;
  opacity: 0.8;
  color: white;
}


#tableOne tr:first-child td,
#tableTwo tr:first-child td
{
    border-top: 0;
}

#tableOne tr:last-child td,
#tableTwo tr:last-child td
{
    border-bottom: 0;
}
#tableOne tr td:first-child,
#tableTwo tr td:first-child
{
    border-left: 0;
}

#tableTwo tr td:last-child,
#tableOne tr td:last-child
{
  border-right: 0;
}

#banner{
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 3vh;
  opacity: 0.7;
  color:red;
}

#scoreBoard {
  margin: 1vh auto auto auto;
  background-color: #4cf7eb;
  opacity: 0.8;
  /*border-collapse: collapse;*/
  font-size: 2.5vh;
  text-align: center;
}

.panel{
  display: inline-block ;
  margin:auto 1vh auto 1vh;
}

#playerSwitch,#swiftXO{
  margin: 1vh auto 1vh auto;
}

.score1,.scoreTie,.score2{
  margin:1vh auto auto auto;
}

.currentPlayer{
  color: white;
}

#popDiv{
  position: absolute;
  margin-left: 15vh;
  height: 100%
  background-color: black;
}
