html{
  background-color: gray;
}

h1{
  text-align: center;
}

table, td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

table{
  margin: 20vh auto;
  width: 50vh;
  border-collapse: collapse;
  height: 50vh;
  background-color: rgba(100%, 100%, 100%, 0.1);
  /*scales*/
}

/*//pratise toggle image */
td{
  width: 33.33% ;
  background-image: url('../img/nought.png');
  background-size: cover;
  visibility: visible;
  display:run-in;
}
